*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(128, 48, 48);
}
.ring{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid rgb(51, 48, 48);
    border-radius: 50%;
    line-height: 150px;
    text-align: center;
    font-size: 25px;
    color: white;
    letter-spacing: 3px;
    text-shadow: 0 0 20px black;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
}
.ring::before{
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid white ;
    border-right: 3px solid white ;
    border-radius: 50%;
    animation: animatecircle 2s linear infinite;
}
span{
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
}
span::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px white;
}

@keyframes animatecircle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes animate{
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(405deg);
    }
}